<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link rel="stylesheet" href="default.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand theme">Bookers</div>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
                <li class="nav-li"><%= link_to " Home", users_path, class: "fas fa-home list-icon" %></li>
                <li class="nav-li"><%= link_to " About", users_about_path, class: "fas fa-link list-icon" %></li>
				<% if user_signed_in? %>
                    <li class="nav-li"><%= link_to 'log out', users_path, :method => :delete, class:"fas fa-sign-out-alt" %></li>
                <% else %>
                    <li class="nav-li"><%= link_to " sign up", new_user_registration_path, class: "fas fa-edit list-icon" %></li>
                    <li class="nav-li"><%= link_to " log in", new_user_session_path, class: "fas fa-sign-in-alt list-icon" %></li>
                <% end %>
			</ul>
		</div>
	</div>
</nav>